footer.footer
  .footer-container
    .footer-content
      .footer-section
        h3.footer-title About
        ul.footer-links
          li
            a(href="#") About Us
          li
            a(href="#") Contact
          li
            a(href="#") Privacy Policy
      .footer-section
        h3.footer-title Resources
        ul.footer-links
          li
            a(href="#") Documentation
          li
            a(href="#") Support
          li
            a(href="#") FAQ
      .footer-section
        h3.footer-title Connect
        ul.footer-links
          li
            a(href="#") Facebook
          li
            a(href="#") Twitter
          li
            a(href="#") LinkedIn
    .footer-bottom
      p.footer-copyright © 2024 All rights reserved.

