header.header
  .header-container
    .header-logo
      a(href="/") Logo
    nav.header-nav
      ul.nav-list
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="/topic") Topic
    .header-actions
      a.btn-login(href="#") Login

